/*Site Styling*/

body {
    background-image: none;
}

body.index {
    background-image: url(../images/mainBackground_0.jpg);
    background-repeat: no-repeat;    
    -webkit-transition: background 1000ms ease-in 1000ms;
     -moz-transition: background 1000ms ease-in 1000ms;
     -o-transition: background 1000ms ease-in 1000ms;
     transition: background 1000ms ease-in 1000ms;

     background-position-x: 50%;
     position: fixed;
     width: 100%;
     height:100vh;
}

@media only screen and (max-width: 500px) {
    .container-fluid.index {
        /* display: table; */
        justify-content: space-between;
    }
    .logo-div {
        /* display: table-footer-group;
        float: left; */
        width: 100%;
        order: 1;
    }
    .facebook-div {
        /* display: table-header-group;
        float: right; */
        width: 100%;
        order: 2;
    }

    .home-screen-text {
        margin-top: 10% !important;
        margin-left: 15% !important; 
    }

    .home-screen-facebook {
        margin-top: 10% !important;
    }

    form {
        width: 100%;
        padding-top: 1rem;
        margin: auto;
    }
}

@media only screen and (min-width: 501px) {
    .logo-div {
        width: 50%;
    }
    .facebook-div {
        width: 50%;
    }

    form {
        width: 70%;
        padding-top: 1rem;
        margin: auto;
    }
}
.navbar {
    width: 100%;
    opacity: 0.9;
}

/*Home Screen Start*/
.home-screen-text {
    margin-top: 50%;  
    margin-right: 1rem;
    margin-left: auto;
    width: 60%;  
}

.home-screen-text > p {
    line-height: 1;
}

div.home-screen-text h4 {
    color: white;
    text-align: center;
}

.home-screen-facebook {
    margin-top: 25%;  
    background-color: transparent;
    padding: 0.5rem;  
    border-radius: 0.2rem;
    width: 20rem;
}

iframe {
    border-radius: 0.2rem;
    width: 100%;
}

.home-screen-facebook > p > img {
    width: 30%;
    height: 15%;
}

.home-logo {
    width: 100%;
}
/*Home Screen End*/

/*Nav on screens except index -- Start*/
.nav-img {
    width: 20%;
}

.nav-link.padding {
    padding-top: 0.3rem;
}
/*Nav on screens except index -- End*/

/* --------------Chris: CSS for Light Box Gallery-------------------- */
.gallery{
    margin: 10px 50px;
}
.gallery img{
    width: 230px;
    height: 130px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}
.gallery img:hover{
    filter: grayscale(0);
}
/* -------------Chris: Old FormSpree Page----------
#fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  #fs-frm label,
  #fs-frm legend,
  #fs-frm ::placeholder {
    font-size: .825em;
    margin-bottom: .5em;
    padding-top: .2em;
    display: flex;
    align-items: baseline;
  }
  
  /* border, padding, margin, width */
  /*
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm #card-element {
    border: 1px solid rgba(0,0,0,0.2);
    background-color: rgba(255,255,255,0.9);
    padding: .75em 1em;
    margin-bottom: 1.5em;
  }
  #fs-frm input:focus,
  #fs-frm select:focus,
  #fs-frm textarea:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: gray;
    outline-offset: -1px;
  }
  #fs-frm [type="text"],
  #fs-frm [type="email"] {
    width: 100%;
  }
  #fs-frm [type="button"],
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }
  #fs-frm [type="button"]:focus,
  #fs-frm [type="submit"]:focus,
  #fs-frm [type="reset"]:focus {
    outline: none;
  }
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    margin-bottom: 0;
  }
  #fs-frm select {
    text-transform: none;
  }
  
  #fs-frm [type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
    margin: 0 .5em 0 0 !important;
  }
  
  #fs-frm [type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
  }
  
  /* address, locale */
  /*#fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
    display: inline;
  }
  #fs-frm fieldset.locale input[name="city"] {
    width: 52%;
  }
  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
    width: 20%;
  }
  #fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"] {
    margin-right: 3%;
  }
  /* Old Styles for my Form (End Point)*/